<h1 style="color:blue" align="center">Pandas Time Series Analysis: Period and PeriodIndex</h1>

<h3 style="color:purple">Yearly Period</h3>

In [1]:
import pandas as pd
y = pd.Period('2016')
y

Period('2016', 'A-DEC')

In [5]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [6]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

### Monthly Period

In [14]:
m = pd.Period('2016-1', freq='M')
m

Period('2016-01', 'M')

In [16]:
m.start_time

Timestamp('2016-01-01 00:00:00')

In [15]:
m.end_time

Timestamp('2016-01-31 23:59:59.999999999')

In [17]:
m + 1

Period('2016-02', 'M')

### Daily Period

In [19]:
d = pd.Period('2016-02-28', freq= 'D')
d

Period('2016-02-28', 'D')

In [20]:
d + 1

Period('2016-02-29', 'D')

In [21]:
d.is_leap_year

True

### Hourly Period

In [24]:
h = pd.Period('2016-02-28 23:00:00', freq= 'H')
h

Period('2016-02-28 23:00', 'H')

In [26]:
h.start_time

Timestamp('2016-02-28 23:00:00')

In [27]:
h.end_time

Timestamp('2016-02-28 23:59:59.999999999')

In [32]:
h + 1

Period('2016-02-29 00:00', 'H')

#### We may achieve same results using pandas offsets hour

In [33]:
h + pd.offsets.Hour(1)

Period('2016-02-29 00:00', 'H')

### Quarterly Period

In [99]:
q1 = pd.Period('2017Q1', freq='Q-JAN') # It means my fiscal year quarter ending in january.
q1

Period('2017Q1', 'Q-JAN')

In [100]:
q1.start_time

Timestamp('2016-02-01 00:00:00')

In [101]:
q1.end_time

Timestamp('2016-04-30 23:59:59.999999999')

In [102]:
q1.quarter

1

### Use asfreq to convert period to a different frequency

In [103]:
q1.asfreq('M', how = 'start')
q1

Period('2017Q1', 'Q-JAN')

In [104]:
q1.month # month end of first quarter

4

In [105]:
q1.asfreq('M',how='end')

Period('2016-04', 'M')

In [110]:
q2 = pd.Period('2018Q2', freq='Q-JAN')
q2

Period('2018Q2', 'Q-JAN')

In [111]:
q2 - q1

5

## PeriodIndex and period_range

In [120]:
idx = pd.period_range('2011', '2017', freq='q')
idx

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [121]:
idx[0].start_time

Timestamp('2011-01-01 00:00:00')

In [122]:
idx[0].end_time

Timestamp('2011-03-31 23:59:59.999999999')

#### Walmart's fiscal year ends in Jan, below is how you generate walmart's fiscal quarters between 2011 and 2017

In [125]:
idx = pd.period_range('2011', '2017', freq='Q-JAN')
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [126]:
idx[0].start_time

Timestamp('2010-11-01 00:00:00')

In [127]:
idx[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [128]:
import numpy as np
ps = pd.Series(np.random.randn(len(idx)), idx)
ps

2011Q4   -2.069980
2012Q1    0.072476
2012Q2    0.149447
2012Q3    0.139841
2012Q4    0.153123
2013Q1    0.570574
2013Q2    1.005444
2013Q3   -0.485961
2013Q4    0.982142
2014Q1    0.027196
2014Q2   -0.477437
2014Q3    0.579656
2014Q4    0.247216
2015Q1    0.669246
2015Q2   -1.671486
2015Q3   -0.004585
2015Q4    0.321217
2016Q1   -0.911527
2016Q2   -1.058334
2016Q3    0.582985
2016Q4    0.467489
2017Q1   -1.343924
2017Q2    1.720783
2017Q3    0.327418
2017Q4   -0.198032
Freq: Q-JAN, dtype: float64

### Partial Indexing

In [129]:
ps['2016']

2016Q4    0.467489
2017Q1   -1.343924
2017Q2    1.720783
2017Q3    0.327418
2017Q4   -0.198032
Freq: Q-JAN, dtype: float64

In [130]:
ps['2016':'2017']

2016Q4    0.467489
2017Q1   -1.343924
2017Q2    1.720783
2017Q3    0.327418
2017Q4   -0.198032
Freq: Q-JAN, dtype: float64

### Converting between representations

In [132]:
pst = ps.to_timestamp()
pst

2010-11-01   -2.069980
2011-02-01    0.072476
2011-05-01    0.149447
2011-08-01    0.139841
2011-11-01    0.153123
2012-02-01    0.570574
2012-05-01    1.005444
2012-08-01   -0.485961
2012-11-01    0.982142
2013-02-01    0.027196
2013-05-01   -0.477437
2013-08-01    0.579656
2013-11-01    0.247216
2014-02-01    0.669246
2014-05-01   -1.671486
2014-08-01   -0.004585
2014-11-01    0.321217
2015-02-01   -0.911527
2015-05-01   -1.058334
2015-08-01    0.582985
2015-11-01    0.467489
2016-02-01   -1.343924
2016-05-01    1.720783
2016-08-01    0.327418
2016-11-01   -0.198032
Freq: QS-NOV, dtype: float64

In [134]:
pst.index

DatetimeIndex(['2010-11-01', '2011-02-01', '2011-05-01', '2011-08-01',
               '2011-11-01', '2012-02-01', '2012-05-01', '2012-08-01',
               '2012-11-01', '2013-02-01', '2013-05-01', '2013-08-01',
               '2013-11-01', '2014-02-01', '2014-05-01', '2014-08-01',
               '2014-11-01', '2015-02-01', '2015-05-01', '2015-08-01',
               '2015-11-01', '2016-02-01', '2016-05-01', '2016-08-01',
               '2016-11-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [135]:
ps = pst.to_period()
ps

2010Q4   -2.069980
2011Q1    0.072476
2011Q2    0.149447
2011Q3    0.139841
2011Q4    0.153123
2012Q1    0.570574
2012Q2    1.005444
2012Q3   -0.485961
2012Q4    0.982142
2013Q1    0.027196
2013Q2   -0.477437
2013Q3    0.579656
2013Q4    0.247216
2014Q1    0.669246
2014Q2   -1.671486
2014Q3   -0.004585
2014Q4    0.321217
2015Q1   -0.911527
2015Q2   -1.058334
2015Q3    0.582985
2015Q4    0.467489
2016Q1   -1.343924
2016Q2    1.720783
2016Q3    0.327418
2016Q4   -0.198032
Freq: Q-DEC, dtype: float64

In [136]:
ps.index

PeriodIndex(['2010Q4', '2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1',
             '2012Q2', '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3',
             '2013Q4', '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1',
             '2015Q2', '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3',
             '2016Q4'],
            dtype='period[Q-DEC]', freq='Q-DEC')

## Processing Wal Mart's Financials

In [142]:
df = pd.read_csv("wmt.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [143]:
df.set_index('Line Item', inplace=True)
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [150]:
df.index = pd.PeriodIndex(df.index, freq="Q-JAN")
df

Line Item  Revenue  Expenses  Profit Start Date
2017Q1      115904     86544   29360       2017
2017Q2      120854     89485   31369       2017
2017Q3      118179     87484   30695       2017
2017Q4      130936     97743   33193       2017
2018Q1      117542     87688   29854       2017

#### Add start date end date columns to dataframe

In [151]:
df["Start Date"]=df.index.map(lambda x: x.start_time)
df

Line Item  Revenue  Expenses  Profit Start Date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [152]:
df["End Date"]=df.index.map(lambda x: x.end_time)
df

Line Item  Revenue  Expenses  Profit Start Date   End Date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30
2017Q2      120854     89485   31369 2016-05-01 2016-07-31
2017Q3      118179     87484   30695 2016-08-01 2016-10-31
2017Q4      130936     97743   33193 2016-11-01 2017-01-31
2018Q1      117542     87688   29854 2017-02-01 2017-04-30