# <font color="purple"><h3 align="center">DataFrame Basics Tutorial</h3></font>

## **Dataframe is most commonly used object in pandas. It is a table like datastructure containing rows and columns similar to excel spreadsheet**

In [3]:
import pandas as pd

df = pd.read_csv("weather_data.csv")
df  # Display all the rows of dataframe

In [4]:
rows, columns = df.shape # Returns a tuple
print (rows, columns)

6 4

In [27]:
df.head() # Display first 5  rows of dataframe
df.head(2) # Display first 2  rows of dataframe
df.tail() # Display last 5 rows of dataframe
df.tail(2) # Display last 2  rows of dataframe

        day  temperature  windspeed  event
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [5]:
df[2:5] # Dataframe slicing, same as list slicing

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [6]:
df.columns # Will print all the columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [7]:
df.day # get a particular column, df['day'] also works. It is recommended as it is more pythonic and can avoid errors.

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [36]:
type(df['event']) # Each columns in dataframe is of type Series

pandas.core.series.Series

In [20]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [39]:
df[['event', 'day']] # Way to select fewer rows from a dataframe

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [45]:
df['temperature'].max() # Operation to find out max of any column.
df['temperature'].min() # Minimum
df['temperature'].mean() # Average or Mean
df['temperature'].std() # Standard deviation

3.8297084310253524

In [21]:
df.describe() # Print the statistics of the columns whose values are integers.

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [26]:
df[[df.temperature, df.windspeed]]

KeyError: '[(32, 35, 28, 24, 32, 31) (6, 7, 2, 7, 4, 2)] not in index'

In [47]:
df[df.temperature>=32] # get dataframe whose temperature is greatar than 32

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [52]:
df[df.temperature == df.temperature.max()] # Kinda doing SQL in pandas

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [64]:
df['event'][df.temperature == df.temperature.max()] # Kinda doing SQL in pandas

day
1/2/2017    Sunny
Name: event, dtype: object

In [37]:
df.set_index('day', inplace=True) # It modifies dataframe and sets its index as day column.

In [38]:
df.index

Index(['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'], dtype='object', name='day')

In [39]:
df.loc["1/2/2017"] # Selection of a row by label

temperature       35
windspeed          7
event          Sunny
Name: 1/2/2017, dtype: object

In [40]:
df.reset_index(inplace=True) # ReSet the index to original.

In [41]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain